img {
  vertical-align: bottom;
}
.left{
  position: relative;
  top: -35px;
}
.big{
  position: absolute;
  left: 303px;
  /* top: 15px; */
  z-index: 10;
  border: 1px solid #fede4f;
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: none;
}
.big img{
  position: relative;
  left:0px;
  top: 0px;
}
.swiper-pagination{
  pointer-events: none;
}
.yellow {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  background: 50% top no-repeat #fede4f;
  opacity: 0.5;
  cursor: move;
  display: none;
  pointer-events: none;
}

.swiper-container {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f6f6f6;
}

#img img {
  width: 100%;
  display: block;
  margin: 0 auto !important;
}
#img{
  border-top: 5px solid gray;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

#header .container {
  height: 161px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header .container .word h3 {
  font-size: 28px;
}

#header .container .word p {
  font-size: 12px;
  transform: scale(0.8);
  color: grey;
}

#header .container .middle {
  width: 532px;
  height: 48px;
  border-radius: 50px;
  border: black 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header .container .middle input {
  width: 320px;
  height: 42.4px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #f6f6f6;
}

#header .container .middle button {
  width: 124px;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(to right, purple, red);
  border: none;
}

#header .container .right {
  display: flex;
  color: #877a73;
  font-size: 12px;
  width: 182px;
  justify-content: space-between;
}

#header .container .right span {
  text-align: center;
}

#header .container .right span p {
  line-height: 24px;
}

nav {
  min-width: 1200px;
  height: 46px;
  background: linear-gradient(to bottom, black, purple);
}

nav .container {
  height: 46px;
}

nav .container ul {
  padding: 0;
}

nav .container ul li {
  float: left;
  width: 220px;
  height: 46px;
  list-style: none;
  color: white;
  text-align: center;
  line-height: 46px;
}

nav .container ul li:hover {
  background-color: #fee44e;
  color: #43240c;
}

section {
  margin-bottom: 10px;
  padding: 0;
}

section .container {
  height: 352px;
  width: 1250px;
}

section .container .left {
  display: inline-block;
  width: 900px;
  height: 352px;
  margin-right: 9px;
  background-color: #fff;
}

section .container .left .swiper-container {
  width: 282px;
  height: 282px;
  margin: 15px;
  display: inline-block;
  position: relative;
}

section .container .left .swiper-container .swiper-wrapper {
  width: 1410px;
  height: 282px;
}

section .container .left .swiper-container .swiper-wrapper img {
  float: left;
  width: 282px;
  height: 282px;
}

section .container .left .swiper-container .wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: yellow;
  opacity: 0.5;
}

section .container .left .pageright {
  width: 534px;
  height: 282px;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
}

section .container .left .pageright p:first-child span:first-child {
  color: white;
  background-color: #ff5501;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
}

section .container .left .pageright p:first-child span:nth-child(2) {
  border-radius: 4px;
  display: inline-block;
  border: 2px solid #887c75;
  color: #887c75;
  margin-right: 5px;
}

section .container .left .pageright p:first-child span:nth-child(3) {
  font-size: 24px;
  color: #43240c;
  line-height: 33px;
}

section .container .left .pageright .tex {
  background: color #f5f5f5;
  height: 87px;
}

section .container .left .pageright .tex p:first-child {
  color: #b1a9a5;
  text-decoration: line-through;
  margin-top: 15px;
  line-height: 30px;
}

section .container .left .pageright .tex p:nth-child(2) span:first-child {
  font-size: 20px;
  color: #ff4653;
  line-height: 28px;
}

section .container .left .pageright .tex p:nth-child(2) span:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
  color: #fa585a;
  line-height: 28px;
}

section .container .left .pageright .tex p:nth-child(2) span:nth-child(3) {
  display: inline-block;
  height: 16px;
  background: #feeeee;
  border-radius: 2px;
  border: 1px solid #fa585a;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
  margin-bottom: 4px;
  margin-left: 8px;
  color: #fa585a;
  vertical-align: middle;
}

section .container .left .pageright .tex p:nth-child(2) span:nth-child(4) {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #b1a9a5;
  line-height: 22px;
  vertical-align: middle;
  margin-left: 180px;
}

section .container .left .pageright h3 {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #b1a9a5;
  line-height: 22px;
  vertical-align: middle;
  margin-left: 300px;
  margin-top: 30px;
  color: #fa585a;
}

section .container .left .pageright h4 {
  width: 224px;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 50px;
  margin-top: 11px;
  margin-bottom: 39px;
  display: inline-block;
  background-image: linear-gradient(to right, #ebbba7 0%, #cfc7f8 100%);
  text-align: center;
  margin-left: 30px;
  cursor: pointer;
}

section .container .right {
  display: inline-block;
  overflow: hidden;
  width: 275px;
  height: 352px;
  background: white;
}

section .container .right p:first-child {
  text-align: center;
  font-size: 16px;
  height: 70px;
  background: linear-gradient(to bottom, purple 20%, white);
}

section .container .right div {
  text-align: center;
}

section .container .right h4 {
  font-size: 18px;
  color: #43240c;
  line-height: 25px;
  text-align: center;
}

section .container .right p:nth-child(4) {
  color: #b1a9a5;
  text-align: center;
  margin-top: 20px;
}

section .container .right p:nth-child(5) {
  color: #fb9547;
  font-size: 12px;
  text-align: center;
}

#img .container {
  background-color: white;
  overflow: hidden;
}

#img .container img {
  margin-top: 10px;
  display: block;
}

footer {
  min-width: 1200px;
  height: 200px;
  background-color: #484848;
  position: relative;
}

footer .top img {
  border-radius: 25px;
  display: inline-block;
  margin-top: 20px;
}

footer .top .middle {
  display: inline-block;
  margin-left: 15px;
}

footer .top .middle p:first-child {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

footer .top .middle p:nth-child(2) {
  color: white;
  font-size: 20px;
}

footer .top .middle p:nth-child(3) {
  color: white;
  font-size: 20px;
}

footer .top .right {
  display: inline-block;
  color: white;
  font-size: 20px;
  margin-left: 300px;
  position: relative;
  top: -40px;
  cursor: pointer;
}

footer .top .right:hover {
  color: pink;
}

footer h5 {
  position: absolute;
  bottom: 10px;
  left: 500px;
  color: white;
  font-size: 16px;
}

.bottom {
  min-width: 1200px;
  height: 70px;
  text-align: center;
}

aside {
  width: 100px;
  height: 50px;
  background-color: #FFD800;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  line-height: 50px;
  color: black;
  border-radius: 25px;
  cursor: pointer;
  display: none;
}

/*# sourceMappingURL=productDetail.css.map */